<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_mes_only_circle"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@mipmap/ic_app_mes_only_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/mes_send_payment">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="app.mercadosocial.net" />
                <data android:pathPrefix="/qr" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BlockActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.entity_info.EntityInfoActivity"
            android:label="@string/entity_info"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recipient_select.RecipientSelectActivity"
            android:label="@string/select_recipient"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.register_web.RegisterWebActivity"
            android:label="@string/new_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.new_payment.NewPaymentActivity"
            android:label="@string/new_payment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ui.barcode.BarcodeActivity"
            android:label="@string/qr_code_scan"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.novelties.detail.NoveltyDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.info.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.auth.register_web.WebViewRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payments.PaymentsActivity"
            android:label="@string/pending_payments"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.transactions.TransactionsActivity"
            android:label="@string/transactions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.entity_info.gallery.GalleryFullScreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.get_boniatos.GetBoniatosActivity"
            android:label="@string/get_boniatos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- [START firebase_service] -->
        <activity
            android:name=".ui.invitations.InvitationsActivity"
            android:label="@string/invitations"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.wallet_graphics.GraphicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sent_payments.SentPaymentsActivity"
            android:screenOrientation="portrait"
            android:label="@string/sent_payments" />
        <activity android:name=".ui.profile.pincode_change.PincodeChangeActivity"
            android:screenOrientation="portrait"
            android:label="@string/change_pincode" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <service android:name=".messaging.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_geo_apikey" /> <!-- <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" /> -->
        <service
            android:name=".messaging.OperationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="net.mercadosocial.moneda.ACTION_ACCEPT_PAYMENT" />
                <action android:name="net.mercadosocial.moneda.ACTION_REJECT_PAYMENT" />
            </intent-filter>
        </service>
    </application>

</manifest>