<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mercadosocial.moneda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_mes_only_circle"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@mipmap/ic_app_mes_only_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BlockActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.entity_info.EntityInfoActivity"
            android:label="@string/entity_info" />
        <activity
            android:name=".ui.intro.IntroActivity" />
        <activity
            android:name=".ui.recipient_select.RecipientSelectActivity"
            android:label="@string/select_recipient"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.auth.register_web.RegisterWebActivity"
            android:label="@string/new_register" />
        <activity
            android:name=".ui.new_payment.NewPaymentActivity"
            android:label="@string/new_payment"
            android:parentActivityName=".ui.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >

            <intent-filter android:autoVerify="true"
                android:label="@string/mes_send_payment">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="app.mercadosocial.net" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.barcode.BarcodeActivity"
            android:label="@string/qr_code_scan" />
        <activity
            android:name=".ui.novelties.detail.NoveltyDetailActivity" />
        <activity
            android:name=".ui.info.WebViewActivity" />
        <activity
            android:name=".ui.auth.register_web.WebViewRegisterActivity" />
        <activity
            android:name=".ui.payments.PaymentsActivity"
            android:label="@string/pending_payments" />
        <activity
            android:name=".ui.transactions.TransactionsActivity"
            android:label="@string/transactions" />
        <activity
            android:name=".ui.entity_info.gallery.GalleryFullScreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.get_boniatos.GetBoniatosActivity"
            android:label="@string/get_boniatos"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/account"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- [START firebase_service] -->

        <activity android:name=".ui.invitations.InvitationsActivity"
            android:label="@string/invitations"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".ui.wallet_graphics.GraphicsActivity" />
        <activity
            android:name=".ui.sent_payments.SentPaymentsActivity"
            android:label="@string/sent_payments" />

        <service android:name=".messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzx7rH3fchO0K9rRxjxdDdhrAeJP7hbM8" /> <!-- <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" /> -->

        <service
            android:name=".messaging.OperationService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.callforme.app.ACTION_ACCEPT_PAYMENT" />
                <action android:name="com.callforme.app.ACTION_REJECT_PAYMENT" />
            </intent-filter>
        </service>
    </application>

</manifest>